@model IEnumerable<SistemaFacturacion.Models.Facturacion>

@{
    ViewBag.Title = "Consulta de Facturaciones";
}

<h2>Facturaciones</h2>

@using (Html.BeginForm())
{
<P>
    <input type="hidden" id="fecha" name="fecha"/>
    <input type="text" id="query" name="query" />
    @Html.DropDownList("seleccion", new List<SelectListItem>
{
    new SelectListItem{Text = "Cliente", Value = "0", Selected = true},
    new SelectListItem{Text = "Fecha", Value = "1",}
})
    Ver sumatoria, conteo, promedio de los resultados, valor minimo, valor maximo.
    Si @Html.RadioButton("opcion", "0", true)
    No @Html.RadioButton("opcion", "1")
    <input type="submit" value="Buscar" />
</P>
}

@ViewBag.sumatoria
@ViewBag.promedio
@ViewBag.conteo
@ViewBag.min
@ViewBag.max

<table class="table" id="invoice">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
        </tr>
    }

</table>
<button onclick="generatePDF()" style="float:right;">Generar PDF</button>

<script>
    var mySelect = document.getElementById('seleccion');

    mySelect.onchange = function () {

        if (mySelect.value == '0') {
            document.getElementById('fecha').type = 'hidden';
            document.getElementById('query').type = 'text';

        } else {
            document.getElementById('fecha').type = 'date';
            document.getElementById('query').type = 'hidden';
        }
    }
</script>